body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 1100px;
    font-family: 'PT sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
    width: 300px;
    height: 100%;
    border-radius: 30px;
}

li {
    position: relative;
    height: 10.96%;  
}

li a {
    display: block;
    line-height: 66px;
    text-decoration: none;
    font-family: verdana;
    text-align: center;
    color: black;
    height: 100%;
    border-bottom: 1px solid grey;
}

li a:hover {
    background-color: rgb(191, 160, 105);
    color: white;
}

h1{
    font-family: verdana;
}
p {
    font-family: verdana;
    font-size: 14;
}

.header {
    position : relative;
    width: 100vw;
    height: 600px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(20, 87, 164, 0.5);
    transition: all .3s linear;
}
.header:before:hover{
    background: none;
}
.logo {
    position : absolute;
    top: 0;
    left: 0;
    padding: 10px; 
}

.wave {
    position : absolute;
    top: 0;
    left: 0;
    padding: 0px;
    margin-top: 250px;
}

.main {
    position: absolute;
    top: 0;
    margin-top: 500px;
    margin-left: 300px;
    width: 1200px;
    height: 500px;
    border-radius: 30px;
    border: 1px solid #666666;
    box-shadow: 5px 5px 5px #666666;
    background: white;
}
.mainbody {
    display: block;
    margin-left: 150px;
    width: 80%;
    height: 80%;
}


.menu {
    position: absolute;
    margin-left: 100px;
    margin-top: 340px;
    top: 0;
    background-color: transparent;
    width: 200px;
    height: 500px;
    border-radius: 30px;
    display: table;
    overflow: hidden;
}

.boven {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
}

.onder {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.selected {
    background-color: rgb(243, 114, 65);
}

.button {
    background-color: white; /* Green */
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    border-color: orange;
    color: orange;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 70%;
    cursor: pointer; 
    
}

.button:hover{
    background-color: orange;
    color: white;
}

#wave {
    width: 100vw;

}

#logo {
    width: 200px;
}

#duikers {
    width: 100vw;
}
