body {
    margin: 0;
    padding: 0;
}



.header {
    position : relative;
    width: 100vw;
    height: 600px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(20, 87, 164, 0.5);
    transition: all .3s linear;
}
.header:before:hover{
    background: none;
}
.logo {
    position : absolute;
    top: 0;
    left: 0;
    padding: 10px; 
}

.wave {
    position : absolute;
    top: 0;
    left: 0;
    padding: 0px;
    margin-top: 250px;
}

.menu {
    position: absolute;
    margin-left: 200px;
    margin-top: 300px;
    top: 0;
    background-color: orange;
    width: 300px;
    height: 600px;
    border-radius: 30px;
}

#wave {
    width: 100vw;

}

#logo {
    width: 200px;
}

#duikers {
    width: 100vw;
}
