body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
    width: 300px;
    height: 100%;
    border-radius: 30px;
}

li {
    position: relative;
    height: 10.96%;  
}

li a {
    display: block;
    line-height: 66px;
    text-decoration: none;
    font-family: verdana;
    text-align: center;
    color: black;
    height: 100%;
    border-bottom: 1px solid grey;
}

li a:hover {
    background-color: rgb(191, 160, 105);
    color: white;
}
.header {
    position : relative;
    width: 100vw;
    height: 600px;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(20, 87, 164, 0.5);
    transition: all .3s linear;
}
.header:before:hover{
    background: none;
}
.logo {
    position : absolute;
    top: 0;
    left: 0;
    padding: 10px; 
}

.wave {
    position : absolute;
    top: 0;
    left: 0;
    padding: 0px;
    margin-top: 250px;
}

.menu {
    position: absolute;
    margin-left: 200px;
    margin-top: 300px;
    top: 0;
    background-color: transparent;
    width: 300px;
    height: 600px;
    border-radius: 30px;
    display: table;
    overflow: hidden;
}

.boven {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
}

.onder {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.selected {
    background-color: rgb(243, 114, 65);
}

#wave {
    width: 100vw;

}

#logo {
    width: 200px;
}

#duikers {
    width: 100vw;
}
